<html>
  <head>
    <title> Scores! </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <h1>Enter your Team</h1>
        <form action="/addteam" method="POST">
            <input type="text" name="newteam" placeholder="Add team name">
            <button >Add Team</button>
        </form>
        <h2> Teams and Scores: </h2>
        <form action ="/updatescore" method="POST">
            <% for( var i = 0; i < teamNames.length; i++){ %>
                <h3><li style="list-style:none"><span style="padding-right: 20px; color:red"><%= teamNames[i].teamName %><span><span style="padding-left:15px; color:red"><%= teamNames[i].score %></span></h3></li>
            <% } %>
            <div style="padding-top: 30px">

            </div>
        </form>
    </div>
  </body>
</html>