* {
    font-family: fantasy;
    font-weight: bold;
}

body {
  background-image: url('https://www.jucarii-pentru-copii.info/data/archive/img/40638871.jpeg');
  color: #333333;
  margin-top: 20px;
  background-repeat: no-repeat;
    background-size: 100%;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
    color: red;
}
h1 {
    color: red;
}